* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf6e3;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
 .logo {
    font-size: 24px;
    font-weight: bold;
    color: #e3b52f;
}
 .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
 .nav-links a {
    text-decorations: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}
 .nav-links a:hover {
    color: #e3b52f;
}

 .hero {
    padding: 80px 20px;
    text-align: center;
    background-image: url('Siberian-Husky-laying-down-indoors-next-to-a-large-pile-of-fur-and-brushes.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
}
 .hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}
 .hero .highlight {
    color: #e3b52f;
}
 .hero .tagline {
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
 }
 .btn {
    padding: 12px 24px;
    background-color: #e3b52f;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
    display: inline-block;
}
 .btn:hover {
    background-color: #caa62f;
}
 .gallery {
    padding: 40px 20px;
    background: #fff8el;
    text-align: center;
}
 .image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
 .image-row img {
    width: 180px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
 ,image-row img:hover {
    transform: scale(1.05);
}
.welcome h2 {
    color: #8b6f47;
    font-size: 2rem;
    margin-bottom: 15px;
}  
.services {
    padding: 60px 20%;
    background-color: #fff;
    text-align: center;
}
.service-items {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.service {
    max-width: 280px;
    text-align: left;
    position: relative;
    padding-left: 40px;
    border-radius: 10px;
    background: #fff8el;
    padding: 200px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
 .service .number {
    position: absolute;
    left: 10;
    top: 10;
    font-size: 28px;
    font-weight: bold;
    color: #e3b52f;
}
.service h3 {
    margin-bottom: 10px;
    font-size: 22px;
}
footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .image-row img {
      width:100%;
      max-width: 150px;
    }
    }

